# Project information
site_name: Sandboxie Documentation
site_url: https://sandboxie-plus.github.io/sandboxie-docs/

exclude_docs: zh_CN/

# Repository
repo_name: sandboxie-plus/sandboxie-docs
repo_url: https://github.com/sandboxie-plus/sandboxie-docs
edit_uri: edit/main/docs/

# Copyright
copyright: 'This site is maintained by <a href="https://github.com/sandboxie-plus">sandboxie-plus</a>. If you wish to contribute: <a href="https://github.com/sandboxie-plus/sandboxie-docs">Improve sandboxie-docs!</a>'

# Configuration
theme:
  name: material
  language: en
  custom_dir: material/overrides
  logo: Media/SandDocs.png
  favicon: material/assets/images/favicon.ico
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select             # insiders
    # - content.footnote.tooltips
    # - content.tabs.link
    # - header.autohide
    - content.tooltips
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant              # NOT compatible with the multi-language switcher
    # - navigation.instant.prefetch     # insiders
    # - navigation.instant.progress
    # - navigation.path                 # insiders
    # - navigation.prune
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font: false

watch:
  - material/overrides

# Plugins
plugins:
  - search:
      lang: en
  # - RootReadme:
      # readme: README.md
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: zh
          name: 简体中文
          build: true
          default: false
          site_name: Sandboxie 文档
          nav_translations:
            Home: 家
            Sandboxie Basics: Sandboxie 基础知识
            Sandboxie Control: Sandboxie 控制
            Command Line Usage: 命令行用法
            Sandboxie Plus: Sandboxie Plus
            Advanced Topics: 高级主题
            SBIE Messages: SBIE 消息
        # default language should be at the bottom
        - locale: en
          name: English
          build: true
          default: true

# Hooks

# Additional configuration
extra:
  alternate:
    - name: English
      link: /sandboxie-docs/
      lang: en
    - name: 简体中文
      link: /sandboxie-docs/zh_CN/
      lang: zh
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sandboxie-plus/Sandboxie
      name: Sandboxie-Plus on Github

extra_css:
  - material/assets/stylesheets/extra.css

extra_javascript:
  - material/assets/javascripts/extra.js

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      # auto_title: true
      default_lang: 'ini'
      # guess_lang: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables

# Page tree
nav:
# - Home: README.md
- Sandboxie Basics:
  - Content/HelpTopics.md
  - Content/GettingStarted.md
  - Sandboxie Control:
    - Content/SandboxieControl.md
    - Content/FileMenu.md
    - Content/ViewMenu.md
    - Content/SandboxMenu.md
    - Content/ConfigureMenu.md
    - Content/HelpMenu.md
    - Content/TrayIconMenu.md
  - Content/UsageTips.md
  - Command Line Usage:
    - Content/StartCommandLine.md
  - Content/SandboxieIni.md
- Content/KnownConflicts.md
- Sandboxie Plus:
  - Content/PlusMigrationGuide.md
  - PlusContent/Plus-Features.md
- Advanced Topics:
  - Content/AdvancedTopics.md
  - Content/SandboxHierarchy.md
  - Content/PrivacyConcerns.md
  - Content/ServicePrograms.md
  - Content/ResourceAccessMonitor.md
  - PlusContent/TraceLog.md
  - Content/HowToUseWinDbg.md
  # Get-ChildItem .\docs\Content\SBIE* | %{"      - Content/$($_.BaseName).md"} | Set-Clipboard
  - SBIE Messages:
    - Content/SBIEMessages.md
    - Content/SBIEDLLAPI.md
    - Content/SBIE1101.md
    - Content/SBIE1102.md
    - Content/SBIE1103.md
    - Content/SBIE1104.md
    - Content/SBIE1105.md
    - Content/SBIE1106.md
    - Content/SBIE1108.md
    - Content/SBIE1109.md
    - Content/SBIE1110.md
    - Content/SBIE1111.md
    - Content/SBIE1112.md
    - Content/SBIE1113.md
    - Content/SBIE1114.md
    - Content/SBIE1116.md
    - Content/SBIE1119.md
    - Content/SBIE1120.md
    - Content/SBIE1121.md
    - Content/SBIE1122.md
    - Content/SBIE1151.md
    - Content/SBIE1152.md
    - Content/SBIE1153.md
    - Content/SBIE1201.md
    - Content/SBIE1202.md
    - Content/SBIE1203.md
    - Content/SBIE1204.md
    - Content/SBIE1211.md
    - Content/SBIE1212.md
    - Content/SBIE1213.md
    - Content/SBIE1214.md
    - Content/SBIE1215.md
    - Content/SBIE1216.md
    - Content/SBIE1222.md
    - Content/SBIE1223.md
    - Content/SBIE1224.md
    - Content/SBIE1241.md
    - Content/SBIE1242.md
    - Content/SBIE1301.md
    - Content/SBIE1303.md
    - Content/SBIE1304.md
    - Content/SBIE1306.md
    - Content/SBIE1307.md
    - Content/SBIE1308.md
    - Content/SBIE1309.md
    - Content/SBIE1310.md
    - Content/SBIE1311.md
    - Content/SBIE1312.md
    - Content/SBIE1313.md
    - Content/SBIE1314.md
    - Content/SBIE1401.md
    - Content/SBIE1402.md
    - Content/SBIE1403.md
    - Content/SBIE1404.md
    - Content/SBIE1405.md
    - Content/SBIE1406.md
    - Content/SBIE1408.md
    - Content/SBIE1409.md
    - Content/SBIE1410.md
    - Content/SBIE1411.md
    - Content/SBIE1412.md
    - Content/SBIE2102.md
    - Content/SBIE2103.md
    - Content/SBIE2104.md
    - Content/SBIE2108.md
    - Content/SBIE2111.md
    - Content/SBIE2191.md
    - Content/SBIE2192.md
    - Content/SBIE2193.md
    - Content/SBIE2202.md
    - Content/SBIE2203.md
    - Content/SBIE2204.md
    - Content/SBIE2205.md
    - Content/SBIE2206.md
    - Content/SBIE2207.md
    - Content/SBIE2208.md
    - Content/SBIE2209.md
    - Content/SBIE2210.md
    - Content/SBIE2211.md
    - Content/SBIE2212.md
    - Content/SBIE2213.md
    - Content/SBIE2214.md
    - Content/SBIE2217.md
    - Content/SBIE2218.md
    - Content/SBIE2219.md
    - Content/SBIE2220.md
    - Content/SBIE2221.md
    - Content/SBIE2222.md
    - Content/SBIE2223.md
    - Content/SBIE2303.md
    - Content/SBIE2304.md
    - Content/SBIE2305.md
    - Content/SBIE2306.md
    - Content/SBIE2307.md
    - Content/SBIE2308.md
    - Content/SBIE2309.md
    - Content/SBIE2310.md
    - Content/SBIE2311.md
    - Content/SBIE2312.md
    - Content/SBIE2313.md
    - Content/SBIE2314.md
    - Content/SBIE2315.md
    - Content/SBIE2316.md
    - Content/SBIE2317.md
    - Content/SBIE2318.md
    - Content/SBIE2321.md
    - Content/SBIE2322.md
    - Content/SBIE2323.md
    - Content/SBIE2326.md
    - Content/SBIE2327.md
    - Content/SBIE2331.md
    - Content/SBIE2332.md
    - Content/SBIE2334.md
    - Content/SBIE3207.md
    - Content/SBIE3208.md
    - Content/SBIE3209.md
    - Content/SBIE9101.md
    - Content/SBIE9153.md
    - Content/SBIE9154.md
    - Content/SBIE9156.md
    - Content/SBIE9201.md
    - Content/SBIE9202.md
    - Content/SBIE9203.md
    - Content/SBIE9204.md
    - Content/SBIE9205.md
    - Content/SBIE9206.md
    - Content/SBIE9207.md
    - Content/SBIE9208.md
    - Content/SBIE9251.md
    - Content/SBIE9252.md
    - Content/SBIE9253.md
    - Content/SBIE9302.md
    - Content/SBIE9304.md
    - Content/SBIE9305.md
- Content/TechnicalAspects.md
