---
# custom css for jekyll-theme-cayman
---

@import "jekyll-theme-cayman";

body {
 padding:0;
 margin:0;
 font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:16px;
 line-height:1.5;
 color:#606c71
}

@media screen and (min-width: 64em) {
 .main-content {
  max-width:64rem;
  padding:2rem 6rem;
  margin:0 auto;
  font-size:1.14rem;
 }
}

h1 {
 font-size:1.35em;
}

@media screen and (min-width: 64em) {
 .project-name {
  font-size:2.25rem;
 }
}

.page-header a {
 color:#fff;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
 margin-top:2rem;
 margin-bottom:1rem;
 font-weight:normal;
 color:#4a5859;   /*#156366*/
}

.main-content pre>code {
 padding:0;
 margin:0;
 font-size:1rem;
 color:#567482;
 word-break:normal;
 white-space:pre;
 background:transparent;
 border:0
}

.project-tagline {
 margin-bottom:0rem;
 font-weight:normal;
 opacity:0.7;
}

@media screen and (min-width: 64em) {
 .page-header {
  padding:1rem 6rem
 }
}

#search-container {
 max-width: 20em;
 padding: 1em;
 margin: 1em auto;
 border: 1px solid lightgrey;
 }

#search-input {
 display: inline-block;
 padding: .5em;
 width: 100%;
 font-size: 0.8em;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 color:#000;
 }

#results-container {
  list-style: none;
}
