---
# custom css for jekyll-theme-cayman
---

@import "jekyll-theme-cayman";

body {
 padding:0;
 margin:0;
 font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:16px;
 line-height:1.5;
 color:#606c71
}

@media screen and (min-width: 64em) {
 .main-content {
  max-width:64rem;
  padding:2rem 4.5rem;
  margin:0 auto;
  font-size:1.14rem;
 }
}

@media screen and (max-width: 42em) {
 .main-content {
  padding:2rem 2.5rem;
  font-size:1rem
 }
}

h1 {
 font-size:1.75em;
}

@media screen and (min-width: 64em) {
 .project-name {
  font-size:2.10rem;
 }
}

.page-header a {
 color:#fff;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
 margin-top:1.2rem;
 margin-bottom:0.5rem;
 font-weight:normal;
 color:#4a5859;   /*#156366*/
}

.main-content code {
 padding:2px 4px;
 font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
 font-size:1rem;
 color:#567482;
 background-color:#f3f6fa;
 border-radius:0.3rem
}

.main-content pre {
 padding:0.8rem;
 margin-top:0;
 margin-bottom:1rem;
 font:1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
 color:#567482;
 word-wrap:normal;
 background-color:#f3f6fa;
 border:solid 1px #dce6f0;
 border-radius:0.3rem
}

.main-content pre>code {
 padding:0;
 margin:0;
 font-size:1rem;
 color:#567482;
 word-break:normal;
 white-space:pre;
 background:transparent;
 border:0
}

.main-content .highlight {
 margin-bottom:1rem
}

.main-content .highlight pre {
 margin-bottom:0;
 word-break:normal
}

.main-content .highlight pre,
.main-content pre {
 padding:0.8rem;
 overflow:auto;
 font-size:0.9rem;
 line-height:1.45;
 border-radius:0.3rem;
 -webkit-overflow-scrolling:touch
}

.main-content pre code,
.main-content pre tt {
 display:inline;
 max-width:initial;
 padding:0;
 margin:0;
 overflow:initial;
 line-height:inherit;
 word-wrap:normal;
 background-color:transparent;
 border:0
}

.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
 content:normal
}

.main-content ul,
.main-content ol {
 margin-top:0.5rem;
}

.project-tagline {
 margin-bottom:0rem;
 margin-top:0rem;
 font-weight:normal;
 opacity:0.7;
}

@media screen and (min-width: 64em) {
 .page-header {
  padding:1rem 6rem
 }
}

#search-container {
 max-width: 20em;
 padding: 1em;
 margin: 0em auto;
 border: 1px solid lightgrey;
 }

#search-input {
 display: inline-block;
 padding: .5em;
 width: 100%;
 font-size: 0.8em;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 color:#000;
 }

#results-container {
  list-style: none;
}
