{% extends "base.html" %}

{#
The entry point for the ReadTheDocs Theme.
 
Any theme customisations should override this file to redefine blocks defined in
the various templates. The custom theme should only need to define a main.html
which `{% extends "base.html" %}` and defines various blocks which will replace
the blocks defined in base.html and its included child templates.
#}
{%- block site_name %}
    {%- if config.theme.logo %}
        <a href="{{ nav.homepage.url|url }}">
    {%- else %}
        <a href="{{ nav.homepage.url|url }}" class="icon icon-home"> {{ config.site_name }}
    {%- endif %}
    {%- if config.theme.logo %}
        <img src="{{ config.theme.logo|url }}" class="logo" alt="{% trans %}Logo{% endtrans %}"/>
    {%- endif %}
    <label class="logo-label">Sandboxie Docs</label>
    </a>
{%- endblock %}